/* font */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* all */
body{
    background-color: gray;
    font-family: "Zen Kurenaido", sans-serif;
}

/* header */
header{
    padding: 5px 10px;
    background-color: black;
}

.title{
    font-size: 50px;
    color: #C0C0C0;
    text-decoration: none;
}

/* main */

/* footer */
footer{
    background-color: beige;
}

.Xlink{
    margin:10px;
}

.Instalink{
    margin:10px;
}