/* フォント */
.zen-kurenaido-regular {
    font-family: "Zen Kurenaido", sans-serif;
    font-weight: 400;
    font-style: normal;
}  

/* setting */
:root{
    color-scheme: light dark;
    -webkit-box-sizing: border-box;
    box-sizing: border-boxS;
}
a,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    color: inherit;
}

/* スマホ */
/* All */
body{
    font-family: "Zen Kurenaido", sans-serif;
    background-color: light-dark(lightgray,#282828);
    margin: 0 auto;
}

/* header */
header{
    background-color: light-dark(gray,black);
}

.title{
    font-size: 5vw;
    color: light-dark(#282828,lightgray);
    text-decoration: none;
}

.ham_menu{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}

/* menuコンテンツ */
.ham_menu .menu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    outline: 1px solid transparent;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
}

.ham_menu .menu > div{
    display: flex;
    overflow: hidden;
    width: 200vw;
    height: 200vw;
    transition: all 0.4s ease;
    -webkit-transform: scale(0);
    transform: scale(0);
    text-align: center;
    color: #fefefe;
    border-radius: 50%;
    background: rgba(0,131,143,0.8);

    flex: none;
    -webkit-backface-visibility: hedden;
    backface-visibility: center;
}

/* body */
/* 確認用 */
.phone{
    color: light-dark(#282828,lightgray)
}

.tablet{
    color: light-dark(lightgray,#282828);
}

.pc{
    color: light-dark(lightgray,#282828);
}



/* タブレット */
@media (min-width:481px){
    /* All */

    /* header */

    /* body */
    /* 確認用 */
    .phone{
        color: light-dark(lightgray,#282828);
    }

    .tablet{
        color: light-dark(#282828,lightgray);
    }

    .pc{
        color: light-dark(lightgray,#282828);
    }
}





/* PC */
@media (min-width:1025px){
    /* All */

    /* header */

    /* body */
    /* 確認用 */
    .phone{
        color: light-dark(lightgray,#282828)
    }

    .tablet{
        color: light-dark(lightgray,#282828);
    }

    .pc{
        color: light-dark(#282828,lightgray);
    }
}