header{
    background-color: black;
}

body{
    background-color: gray;
}

footer{
    background-color: beige;
}

h1{
    font-size: 50px;
    color: #C0C0C0;
    text-align: center;
}