.work-title-and-back{
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
}

.work-title-and-back h1{
    font-size: 4vh
}

.work-title-and-back a{
    font-size: 4vh;
    text-decoration: none;
    color: light-dark(#1e1e20,#f1f1f2);
    margin-right: 1vw;
    transition: all 0.3s ease;
}

.work-title-and-back a:hover{
    color: #375e97;
    transform: translateX(-1vw);
}

.portfolio-content-body{
    padding: 2vh 2vw;
}

.portfolio-section{
    margin-bottom: 2vh;
}

.tech-list{
    list-style: none;
    font-size: 2vh;
}