.Works{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.works-nav{
    width: 100%;
    height: 20svh;
    max-height: 20vh;
    display: flex;
    border: 1px solid cornflowerblue
}