.Works{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.works-nav{
    width: 100%;
    height: 20svh;
    max-height: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
    align-items: center;
}

.works-nav h1{
    margin-left: 10vw
}