.category-wrapper{
    height: 25svh;
    max-height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.category-wrapper h1{
    position: fixed;
    font-size: 4vh;
    left: 0;
    padding-left: 10vw;
}

.category-wrapper h1 a{
    color: light-dark(#1e1e20,#f1f1f2);
    text-decoration: none;
}

.category-wrapper p{
    font-size: 3vh;
}

.category-wrapper nav{
    position: fixed;
    display: flex;
    align-items: center;
    right: 10vw;
}

.category{
    list-style: none;
    padding-left: 5vw;
}

.category li{
    display: flex;
    align-items: center;
}

.category-btn{
    color: transparent;
    background: linear-gradient(to right,#375e97 50%,light-dark(#1e1e20,#f1f1f2) 50%)100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.3s;
    text-decoration: none;
    position: relative;
}

.category-btn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #375e97;
    transform-origin: left top;
    transform: scale(0,1);
    transition: transform 0.3s;
}

.category-btn:hover{
    background-position: 0 100%;
}

.category-btn:hover::after{
    transform-origin: left top;
    transform: scale(1,1);
}

.sub-category-btn{
    color: transparent;
    background: linear-gradient(to right,#375e97 50%,light-dark(#1e1e20,#f1f1f2) 50%)100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.3s;
    text-decoration: none;
    position: relative;
}

.sub-category-btn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #375e97;
    transform-origin: left top;
    transform: scale(0,1);
    transition: transform 0.3s;
}

.sub-category-btn:hover{
    background-position: 0 100%;
}

.sub-category-btn:hover::after{
    transform-origin: left top;
    transform: scale(1,1);
}

.sub-category-toggle{
    background: none;
    border: none;
    display: block;
    position: relative;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
}

.sub-category-toggle-btn::before, .sub-category-toggle-btn::after{
    content: "";
    position: absolute;
    background: light-dark(#1e1e20,#f1f1f2);
    height: 1.5vh;
    width: 1.5px;
    display: block;
    top: 35%;
    left: 50%;
    transition: all 0.3s;
    cursor: pointer;
}

.sub-category-toggle-btn::after{
    transform: rotate(90deg);
}

.sub-category-toggle-btn:hover::before, .sub-category-toggle-btn:hover::after{
    background: #375e97;
}

.sub-category-close::before{
    transform: rotate(90deg);
}

.category li.category-item{
    display: block;
}

.category-header{
    display: flex;
    align-items: center;
    padding-bottom: 1vh;
}