.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1vh;
}

.pagination button{
    padding: 0.5em 1em;
    background-color: #375e97;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button:disabled{
    background-color: #aaa;
    cursor: not-allowed;
}