.photo-modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1000;
}

.photo-modal-content{
    background: light-dark(#f1f1f2,#1e1e20);
    max-width: 95%;
    max-height: 95%;
    border-radius: 8px;
    position: relative;
}

.photo-modal-body{
    display: flex;
    flex-direction: column;
}

.modal-photo{
    width: 100%;
    max-height: 75vh;
    object-fit: contain;
    height: auto;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.modal-info{
    font-size: 2vh;
}

.modal-category-link{
    text-decoration: none;
    color: #375e97;
}

.photo-modal-close{
    position: absolute;
    height: 30px;
    width: 30px;
    bottom: 0;
    right: 0;
    background: none;
    border: none;
    cursor: pointer;
    align-items: center;
}

.modal-close-btn{
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
}

.modal-close-btn::before, .modal-close-btn::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 2.5px;
    background: light-dark(#1e1e20,#f1f1f2);
    transition: all 0.3s;
}

.modal-close-btn::before{
    transform: translate(-50%,-50%) rotate(45deg);
}

.modal-close-btn::after{
    transform: translate(-50%,-50%) rotate(-45deg);
}

.modal-close-btn:hover::before{
    background: #375e97;
    transform: translate(-50%,-50%) rotate(135deg);
}

.modal-close-btn:hover::after{
    background: #375e97;
    transform: translate(-50%,-50%) rotate(45deg);
}

@media (min-width:1024px){
    .photo-modal-body{
        flex-direction: row;
        align-items: flex-start;
    }

    .modal-photo{
        width: 70%;
    }

    .modal-info{
        width: 30%;
    }
}