.photo-display-wrapper{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.photo-grid{
    height: 57vh;
    display: grid;
    gap: 1px;
    flex-grow: 1;
    padding: 1px;
    overflow: hidden;
}

.photo-item{
    width: 100%;
    height: calc((60vh - 3vh)/3);
    cursor: pointer;
    object-fit: cover;
}

.empty{
    color: transparent;
}