.category-wrapper{
    display: flex;
    height: 27vh;
    align-items: center;
    color: light-dark(#1e1e20,#f1f1f2);
    background: gray;
}

.category-wrapper h1{
    position: fixed;
    font-size: 4vh;
    left: 0;
    padding-left: 10vw;
}

.category-wrapper p{
    font-size: 3vh;
}

.Photos nav{
    position: fixed;
    display: flex;
    align-items: center;
    right: 10vw;
}

.category{
    list-style: none;
    padding-left: 5vw;
}

.category li{
    height: 2vh;
    margin: 5px 0;
}

.category li button{
    background: none;
    border: none;
    font-family: "Zen Kurenaido";
    font-weight: 400;
    font-size: 2vh;
    height: 2vh;
    line-height: 2vh;
    display: inline-block;
    position: relative;
    width: fit-content;
    cursor: pointer;
}

.category-btn{
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, light-dark(#1e1e20,#f1f1f2) 50%,#375e97 50%);
    background-position: left;
    background-clip: text;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.3s;
}

.category-btn:hover{
    background-position: right;
}

.category-btn::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0%;
    height: 2px;
    background: #375e97;
    transition: width 0.3s;
}

.category-btn:hover::after{
    width: 100%;
}