/* 共通 */
p{
    font-size: 2vh;
}

h1{
    font-size: 4vh;
}

.Profile{
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.profile-main{
    display: flex;
    flex-direction: column;
}

.profile-main-left{
    width: 98%;
    padding: 0 3vw;
    margin: 0 1%;
}

.profile-wrapper{
    display: flex;
    width: 98%;
    padding: 0 3vw;
    margin: 0 1%;
}

.profile-image-wrapper{
    width: 100%;
    text-align: center;
}

.profile-image{
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
}

.profile-links-wrapper{
    width: 98%;
    padding: 0 3vw;
    margin: 1% 1%;
}

.contact-wrapper{
    width:98%;
    padding: 0 3vw;
    margin: 1% 1%;
}

.profile-title{
    font-size: 5vh;
    padding-bottom: 1vh;
    cursor: pointer;
    width: 100%;
}

.profile-text{
    width: 100%;
}
.profile-links{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.link-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-links a{
    border-radius: 50%;
}

.profile-link-icon{
    width: 25vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    transition: 0.3s;
}

/* タブレット */
@media (min-width: 768px){
    .profile-main{
        flex-direction: row;
        align-items: center;
    }

    .profile-main-left{
        width: 50%
    }

    .profile-wrapper{
        width: 50%;
    }

    .profile-text h2{
        font-size: 3vh;
    }

    .profile-image{
        width: 80%;
    }

    .profile-link-icon{
        width: 25vw;
    }
}

/* PC */
@media (min-width:1024px){
    p{
        font-size: 2.5vh;
    }

    .Profile{
        display: grid;
        grid-template-columns: 4fr 6fr;
        grid-template-rows: auto 1fr;
        gap: 20px;
        padding: 20px;
    }

    /* 左側 */
    .profile-main{
        grid-column: 1;
        grid-row: 1 / span 2;
        flex-direction: column;
    }

    .profile-main-left, .profile-wrapper{
        width: 100%;
    }

    .profile-text h2{
        font-size: 4vh
    }

    .profile-image{
        width: 20vw;
        height: 20vw;
        margin: 0 auto;
    }

    /* 右側 */
    .profile-links-wrapper{
        grid-column: 2;
        grid-row: 1;
        margin: 0;
        width: 100%;
        align-self: start;
    }

    .contact-wrapper{
        grid-column: 2;
        grid-row: 2;
        margin: 0;
        width: 100%;
        align-self: start;
    }

    .profile-link-icon{
        width: 16vw;
    }
}