header{
    position: relative;
    display: flex;
    height: 10vh;
    border-bottom: 1px solid light-dark(#1e1e20,#f1f1f2);
}

.title{
    text-decoration: none;
    color: light-dark(#1e1e20,#f1f1f2);
    font-size: 6vh;
    line-height: 10vh;
}