.desktop-menu-overlay{
    position: relative;
}

.desktop-menu-items{
    position: fixed;
    display: flex;
    line-height: 3vh;
    list-style: none;
    font-size: 2.5vh;
    border: solid 1px light-dark(#1e1e20,#f1f1f2);
    border-radius: 1vh;
    padding: 0.25vh 0.5vw;
    margin: 0.5vh 0;
    background: light-dark(#f1f1f2,#1e1e20);
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.desktop-menu-items li{
    transition: all 0.5s;
}

.desktop-menu-items li a{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    text-decoration: none;
    color: light-dark(#1e1e20,#f1f1f2);
    padding: 0 0.5vw;
}

.desktop-menu-items li a:hover{
    color: #375e97;
}

.desktop-items-icon{
    margin-right: 0/5vw;
    height: 1em;
    width: 1em;
    color: inherit;
}

.desktop-menu-items .Active a{
    color: light-dark(#f1f1f2,#1e1e20);
}

.desktop-active-bg{
    position: absolute;
    height: 3vh;
    background-color: light-dark(#1e1e20,#f1f1f2);
    border-radius: 5px;
    top: 0.3vh;
    left: 0;
    transition: left 0.3s;
    z-index: -1;
    will-change: left;
}

/* モード切替 */
.desktop-mode{
    position: relative;
    cursor: pointer;
    width: 6vh;
    height: 3vh;
    border-radius: 1.5vh;
    border: none;
    box-shadow: 1px 1px 1px 1px light-dark(gray,black) inset;
    margin-left: 0.5vw;
    top: 50%;
    transform: translateY(-50%);
}

.desktop-mode.light{
    transition: all 0.3s ease;
    background-color: #bbc3c6;
}

.desktop-mode.light svg{
    width: 2vh;
    height: 2vh;
    margin-top: 10%;
    margin-left: 45%;
    transition: all 0.3s;
}

.desktop-mode::before{
    content: "";
    display: block;
    position: absolute;
    width: 2.5vh;
    height: 2.5vh;
    background: #f9f9ff;
    border-radius: 50%;
    top: 10%;
    left: 7%;
    transition: all 0.3s ease;
    z-index: 1;
}

.desktop-mode.dark{
    transition: all 0.3s ease;
    background: #2a3132;
}

.desktop-mode.dark::before{
    margin-left: 50%;
    background: #b7b8b6;
}

.desktop-mode.dark svg{
    width: 2vh;
    height: 2vh;
    margin-top: 10%;
    margin-right: 45%;
    transition: all 0.3s;
}