.tablet-menu-overlay{
    position: relative;
}

.tablet-menu-items{
    position: fixed;
    display: flex;
    right: 0;
    list-style: none;
    font-size: 5vh;
    line-height: 8vh;
}

.tablet-menu-items li{
    transition: all 0.5s;
}

.tablet-menu-items li a{
    color: light-dark(#1e1e20,#f1f1f2);
    text-decoration: none;
    padding: 0 1vw;
}

.tablet-menu-items li a:hover{
    color: #375e97;
}

.tablet-items-icon{
    color: inherit;
    height: 5vh;
    width: 5vh;
}