.work-card{
    width: 100%;
    height: 100%;
    display: flex;
    border: 1px solid violet;
    overflow: hidden;;
}

.work-card a{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.work-card a:hover{
    background-position: 0 100%;
}

.work-icon-wrapper{
    flex: 4;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-icon{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.work-info{
    flex: 6;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 10px;
}

.work-info h2{
    font-size: 1.2rem;
    color:transparent;
    background: linear-gradient(to right, #375e97 50%, light-dark(#1e1e20,#f1f1f2) 50%)100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.3s;
    position: relative;
    display: inline-block;
}

.work-info h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #375e97;
    transform-origin: left top;
    transform: scale(0,1);
    transition: transform 0.3s;
}

.work-card:hover .work-info h2{
    background-position: 0 100%;
}

.work-card:hover .work-info h2::after{
    transform-origin: left top;
    transform: scale(1,1);
}

.work-info span{
    color: transparent;
    background: linear-gradient(to right, #375e97 50%, light-dark(#1e1e20,#f1f1f2) 50%)100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.3s;
    position: relative;
    display: inline-block;
}

.work-info span::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #375e97;
    transform-origin: left top;
    transform: scale(0,1);
    transition: transform 0.3s;
}

.work-card:hover .work-info span{
    background-position: 0 100%;
}

.work-card:hover .work-info span::after{
    transform-origin: left top;
    transform: scale(1,1);
}