.works-grid{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(6,1fr);
    gap: 1vw;
    width: 100%;
    height: 70svh;
    max-height: 70vh;
    padding: 1vw;
}

.empty-card{
    border: none;
}

@media (min-width: 768px){
    .works-grid{
        grid-template-columns: repeat(3,minmax(0,1fr));
        grid-template-rows: repeat(3,1fr);
        gap: 1vw;
    }
}