.works-filter{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.works-filter h2{
    text-decoration: none;
}

.filter-buttons{
    display:flex;
    flex-direction: column;
    padding: 1vw;
    justify-content: center;
    margin-left: 5vw;
    margin-right: 10vw;
    gap: 0.5vh
}

.filter-button{
    color: transparent;
    background: linear-gradient(to right, #375e97 50%, light-dark(#1e1e20,#f1f1f2) 50%)100%;
    background-clip: text;
    background-size: 200% 100%;
    transition: background-position 0.3s;
    position: relative;
}

.filter-button::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background: #375e97;
    transform-origin: left top;
    transform: scale(0,1);
    transition: transform 0.3s;
}

.filter-button:hover{
    background-position: 0 100%;
}

.filter-button:hover::after{
    transform-origin: left top;
    transform: scale(1,1);
}