footer{
    position: fixed;
    display: flex;
}

.footer-link-wrapper{
    position: fixed;
    right: 1vw;
    bottom: 0.5vh;
    z-index: 10;
}

.footer-link{
    display: flex;
    list-style: none;
    gap: 0.5vw;
    right: 0.5vw;
}

.footer-link li{
    padding: 0.25vh;
    border: solid 1px light-dark(#1e1e20,#f1f1f2);
    border-radius: 50%;
    background-color: light-dark(#1e1e20,#f1f1f2);
}

.footer-links-icon{
    font-size: 3vh;
    color: light-dark(#f1f1f2,#1e1e20);
}