footer{
    position: fixed;
    display: flex;
    height: 5vh;
    width: 100%;
    background: light-dark(#f1f1f2,#1e1e20);
    border-top: 1px solid light-dark(#1e1e20,#f1f1f2);
    align-items: center;
}

.footer-link-wrapper{
    position: fixed;
    left: 1vw;
}

.footer-link{
    display: flex;
    list-style: none;
}

.footer-links-icon{
    font-size: 3vh;
    color: light-dark(#1e1e20,#f1f1f2);
    padding: 1vh;
}