/* mobile first */
/* all */
main{
    height: 100svh;
    max-height: 100vh;
}

/* tablet */
@media (min-width:768px){
    main{
        height: 95svh;
        max-height: 95vh;
    }
}

/* pc */
@media (min-width:1024px){
}