/* src/index.css */
@font-face {
  font-family: "Zen Kurenaido";
  src: url("./assets/fonts/ZenKurenaido-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

:root{
  color-scheme:light dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:"Zen Kurenaido",sans-serif;
  background-color: light-dark(#f1f1f2,#1e1e20);
  color: light-dark(#1e1e20,#f1f1f2);
  height: 100vh;
  overflow: hidden;
}
